DATABASE_URL=postgresql://postgres:NRztuy611DDNR3G4@db.ucwqvsvhwiplmaesqgdn.supabase.co:5432/postgres
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me
NEXT_PUBLIC_SITE_URL=https://djiotsa.vercel.app
LINKEDIN_ACCESS_TOKEN=
X_ACCESS_TOKEN=
